:root {
  --font-main: "Roboto", sans-serif;
  --font-secondary: "Raleway", sans-serif;

  --color-bg-primary: #ffffff;
  --color-bg-secondary: #2f303a;
  --color-bg-accent: #f5f4fa;
  --color-bg-grey: #c4c4c4;

  --color-text-primary-title: #212121;
  --color-text-primary-text: #757575;
  --color-text-secondary-title: #ffffff;
  --color-text-secondary-text: rgba(255, 255, 255, 0.6);
  --color-text-accent: #2196f3;
  --color-text-accent-hover: #188ce8;
  --color-text-black: #000000;

  --color-grey-secondary: #afb1b8;

  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-main);
  font-size: 0.875rem;
  height: 100vh;
  overflow: visible;

  &.lock {
    overflow: hidden;
  }
}

ul,
ol,
menu {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  font-family: var(--font-secondary);
  font-size: 1.625rem;
  font-weight: 700;
  letter-spacing: 0.0488rem;

  color: var(--color-text-black);

  & > span {
    color: var(--color-text-accent);
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  padding: 0.625rem 1.75rem;

  border-radius: 4px;
  background-color: var(--color-text-accent);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  color: var(--color-text-secondary-title);

  font-family: inherit;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.06rem;

  cursor: pointer;
  outline: none;
  border-color: transparent;

  transition: background-color var(--transition);

  &:hover,
  &:focus {
    background-color: var(--color-text-accent-hover);
  }
}

/* Section */
.section {
  padding-top: 5.875rem;
  padding-bottom: 5.875rem;
  .section__title {
    margin-bottom: 3rem;

    color: var(--color-text-primary-title);
    text-align: center;
    font-size: 2.25rem;
    font-weight: 700;
    letter-spacing: 0.0675rem;
  }
}

/* Container */
.container {
  max-width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding-inline: 15px;
}

/* Header */
.page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 82px;
  z-index: 10;
  border: 1px solid #ececec;
  background-color: var(--color-bg-primary);

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 6rem;
  }

  .link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;

    font-weight: 500;
    letter-spacing: 0.0175rem;

    transition: color var(--transition);

    &:hover,
    &:focus,
    &.active {
      color: var(--color-text-accent);
    }

    &.active {
    }
  }

  .nav {
    display: flex;
    align-items: center;
    column-gap: 6rem;
  }

  .nav__list,
  .address__list {
    display: flex;
    column-gap: 3rem;
    row-gap: 1rem;

    flex-wrap: wrap;
  }

  .nav__link {
    position: relative;
    color: var(--color-text-primary-title);

    &.active {
      &::after {
        content: "";
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: var(--color-text-accent);
        border-radius: 2px;
      }
    }
  }

  .address {
  }

  .address__link {
    color: var(--color-text-primary-text);
    font-style: normal;

    text-align: center;

    > svg {
      fill: currentColor;
    }
  }
}

/* Hero */

.hero {
  background-color: var(--color-bg-grey);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero/hero-bg-image.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .hero__title {
    max-width: 696px;
    text-align: center;

    color: var(--color-text-secondary-title);
    font-size: 2.75rem;
    font-weight: 900;
    line-height: 1.36; /* 136.364% */
    letter-spacing: 0.165rem;
    text-transform: uppercase;
  }

  .hero__button {
    width: 13.4375rem;
    height: 3.125rem;
  }
}

/* Features */

.features {
  &.section {
    padding-bottom: 0;
  }

  letter-spacing: 0.0262rem;

  .features__list {
    display: flex;
    gap: 2rem;
  }

  .feature {
    .feature__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 120px;
      margin-bottom: 2rem;

      border-radius: 4px;

      background-color: var(--color-bg-accent);

      svg {
        width: 70px;
        height: 70px;
      }
    }

    .feature__title {
      margin-bottom: 1rem;
      color: var(--color-text-primary-title);
      font-weight: 700;
      text-transform: uppercase;
    }

    .feature__text {
      color: var(--color-text-primary-text);
      line-height: 1.71; /* 171.429% */
    }
  }
}

/* what-we-do */
.what-we-do {
  .what-we-do__title {
  }

  .what-we-do__list {
    display: flex;
    gap: 2rem;
  }

  .what-we-do__item {
    position: relative;

    .what-we-do__subtitle {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding-top: 1.6rem;
      padding-bottom: 1.6rem;

      color: #fff;
      background-color: rgba(47, 48, 58, 0.8);

      text-align: center;
      font-weight: 700;
      letter-spacing: 0.0262rem;
      text-transform: uppercase;
    }
    img {
      width: 370px;
      height: 294px;
    }
  }
}

/* Our Team */
.our-team {
  background-color: var(--color-bg-accent);
  .our-team__title {
  }

  .our-team__list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .our-team__item {
  }
}

.team-member {
  letter-spacing: 0.03rem;
  border-radius: 0 0 0.25rem 0.25rem;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  overflow: hidden;
  .team-member__photo {
    width: 270px;
    height: 260px;
  }

  .team-member__content {
    padding: 30px;
    background-color: var(--color-bg-primary);
    text-align: center;
  }
  .team-member__name {
    margin-bottom: 0.625rem;

    color: var(--color-text-primary-title);
    font-size: 1rem;

    font-weight: 500;
  }
  .team-member__position {
    margin-bottom: 1rem;

    color: var(--color-text-primary-text);
    font-size: 1rem;
  }

  .team-member__social-list {
  }
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 0.625rem;

  .social-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    color: var(--color-grey-secondary);

    transition: background-color var(--transition), color var(--transition);

    &:hover,
    &:focus {
      background-color: var(--color-text-accent);
      color: var(--color-text-secondary-title);
    }

    .social-list__icon {
      fill: currentColor;
    }
  }
}

/* Clients */
.clients {
  .clients__list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;

    .clients__link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 170px;
      height: 92px;

      border-radius: 0.25rem;
      border: 1px solid #afb1b8;

      color: var(--color-grey-secondary);

      .clients__icon {
        fill: currentColor;
      }

      transition: border-color var(--transition), color var(--transition);

      &:hover,
      &:focus {
        border-color: var(--color-text-accent);
        color: var(--color-text-accent);
      }
    }
  }
  .clients__title {
  }
}

/* Portfolio */
.portfolio {
  .filter {
    margin-bottom: 3rem;
    display: flex;
    gap: 0.5rem;
    justify-content: center;

    .filter__label {
      display: block;
      padding: 0.6rem 1.375rem;
      border-radius: 0.25rem;
      background: var(--color-bg-accent);
      color: var(--color-text-primary-title);
      font-size: 1rem;
      font-weight: 500;
      letter-spacing: 0.03rem;
      cursor: pointer;

      transition: background-color var(--transition), color var(--transition);

      &:hover,
      &:focus,
      &.selected {
        background-color: var(--color-text-accent);
        color: var(--color-text-secondary-title);

        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
          0px 1px 2px 0px rgba(0, 0, 0, 0.08),
          0px 3px 1px 0px rgba(0, 0, 0, 0.1);
      }
    }
  }

  .portfolio__list {
    --num-items: 3;
    --gap: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);

    .portfolio__item {
      width: calc(
        (100% - var(--gap) * (var(--num-items) - 1)) / var(--num-items)
      );
    }
  }

  .card {
    font-family: inherit;
    display: block;

    &:hover,
    &:focus {
      box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
        0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);

      & .card__overlay {
        transform: translateY(0);
      }
    }

    .card__thumb {
      position: relative;
      overflow: hidden;
    }
    .card__overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(33, 150, 243, 0.9);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      transform: translateY(102%);

      transition: transform var(--transition);

      .card__overlay-text {
        padding: 1.5rem;

        color: var(--color-text-secondary-title);
        font-size: 1.125rem;
        line-height: 1.55; /* 155.556% */
        letter-spacing: 0.0338rem;
        overflow-y: auto;
        scrollbar-width: thin;
      }
    }

    .card__img {
      width: 100%;
      height: auto;
    }

    .card__content {
      --border: 1px solid #eee;

      padding: 1.25rem 1.5rem;
      border-left: var(--border);
      border-right: var(--border);
      border-bottom: var(--border);
      background-color: var(--color-bg-primary);
    }
    .card__name {
      color: var(--color-text-primary-title);
      font-size: 1.125rem;
      font-weight: 700;
      line-height: 2;
      letter-spacing: 0.0675rem;
    }
    .card__type {
      color: var(--color-text-primary-text);
      font-size: 1rem;
      line-height: 1.875;
      letter-spacing: 0.03rem;
    }
  }
}

/* Footer */
.footer {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
  background-color: var(--color-bg-secondary);
  display: flex;
  color: var(--color-text-secondary-title);

  > .container {
    display: flex;
    width: 100%;
    align-items: baseline;
    gap: 1rem;
  }

  .footer__title {
    display: block;
    margin-bottom: 1.25rem;

    font-size: 0.875rem;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.0262rem;
    text-transform: uppercase;
  }

  .footer__content {
    .logo {
      display: block;
      color: var(--color-text-secondary-title);
      margin-bottom: 1.25rem;
    }

    .address {
      font-style: normal;

      .address__list {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }

      .link {
        color: var(--color-text-secondary-text);
        line-height: 1.71; /* 171.429% */
        letter-spacing: 0.0262rem;

        &.link-map {
          color: var(--color-text-secondary-title);
        }

        transition: color var(--transition);

        &:hover,
        &:focus {
          color: var(--color-text-accent);
        }
      }
    }
  }

  .footer__social {
    margin-left: 5.785rem;
    .social-list__link {
      background-color: rgba(255, 255, 255, 0.1);
      color: var(--color-text-secondary-title);

      transition: background-color var(--transition);

      &:hover,
      &:focus {
        background-color: var(--color-text-accent);
      }
    }
  }

  .footer__form {
    margin-left: auto;

    .footer__form-group {
      display: flex;
      gap: 0.75rem;
    }

    .footer__input {
      width: 358px;
      height: 50px;
      padding: 1rem;
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 0.25rem;
      background-color: var(--color-bg-secondary);
      color: var(--color-text-secondary-title);
    }
  }
}

/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 11;

  transition: opacity var(--transition), visibility var(--transition);

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;

    .modal {
      transform: translate(-50%, -50%) scale(0.5);
    }
  }

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 528px;
    max-height: 581px;
    width: 100%;

    padding: 2.5rem;
    transform: translate(-50%, -50%) scale(1);

    background-color: var(--color-bg-primary);

    border-radius: 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

    overflow-y: auto;
    overflow-x: hidden;

    transition: transform var(--transition);

    .modal__close-btn {
      position: absolute;
      top: 8px;
      right: 8px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 2px solid rgba(0, 0, 0, 0.102);
      background-color: transparent;

      transition: border-color var(--transition);

      .modal__close-icon {
        &::before,
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          width: 13px;
          height: 2px;
          border-radius: 2px;
          background-color: var(--color-text-black);

          transition: transform var(--transition);
        }

        &::before {
          transform: translate(-50%, -50%) rotate(45deg);
        }
        &::after {
          transform: translate(-50%, -50%) rotate(-45deg);
        }
      }

      &:hover,
      &:focus {
        span {
          &::before,
          &::after {
            background-color: var(--color-text-accent);
          }

          &::before {
            transform: translate(-50%, -50%) rotate(45deg);
          }
          &::after {
            transform: translate(-50%, -50%) rotate(-45deg);
          }
        }
      }
    }

    .modal__form {
    }

    .modal__title {
      display: block;
      margin-bottom: 0.75rem;
      color: var(--color-text-primary-title);
      font-size: 1.25rem;
      text-align: center;
      letter-spacing: 0.0375rem;
    }

    .modal__field,
    .modal__message-field {
      width: 100%;
      margin-bottom: 0.625rem;
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
    }

    .modal__field {
      margin-bottom: 0.625rem;
    }

    .modal__message-field {
      margin-bottom: 1.25rem;
    }

    .modal__checkbox-label {
      display: block;
      margin-bottom: 1.875rem;
    }

    .modal__button {
      display: block;
      margin: 0 auto;
    }
  }
}
