.clients {
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
  }

  &__icon {
    fill: currentColor;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;

    border-radius: 0.25rem;
    border: 1px solid #afb1b8;

    color: var(--color-grey-secondary);

    transition: border-color var(--transition), color var(--transition);

    &:hover,
    &:focus {
      border-color: var(--color-text-accent);
      color: var(--color-text-accent);
    }
  }
}
